@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';

$transitionDuration: 0.333s;
$borderWidth: 1px;
$fontSize: 2rem;
$buttonSpace: 1px;
$buttonRadius: 0.4rem;
